@import "../abstract/variables";
@import "../abstract/mixins";

.main-header {
  height: 100vh;
  background: no-repeat center center / 200%
      url(../../../images/bg-pattern-intro.svg),
    linear-gradient(to right, $light-pink, $dark-pink);
  border-bottom-left-radius: 5rem;
}

.main-nav {
  display: flex;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
  @include container;
}

.nav-links,
.nav-cta {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav-links,
  .nav-cta {
    display: flex;
  }
}

.show-nav {
  display: block;
}
