@import "../abstract/variables";
@import "../abstract/mixins";

article {
  display: grid;
  //   @include container;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  position: relative;
}

.article-text {
  text-align: center;
  &__header {
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 2rem;
  }
}

.article-img img {
  width: 100%;
  height: 100%;
}
