@import "../abstract/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  color: $main-font-color;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
