* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  color: #294459;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.link {
  font-family: "Ubuntu", sans-serif;
  color: #fafafa;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  position: relative;
}

.article-text {
  text-align: center;
}
.article-text__header {
  margin-bottom: 2rem;
}
.article-text__description {
  margin-bottom: 2rem;
}

.article-img img {
  width: 100%;
  height: 100%;
}

.main-header {
  height: 100vh;
  background: no-repeat center center/200%
      url(../../../images/bg-pattern-intro.svg),
    linear-gradient(to right, #ff8d72, #ff4457);
  border-bottom-left-radius: 5rem;
}

.main-nav {
  display: flex;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.nav-links,
.nav-cta {
  display: none;
}

.nav-link {
  display: flex;
}
.nav-link a {
  color: #2d2e40;
}
.nav-link .link {
  display: flex;
  justify-content: space-between;
}
.nav-link .link::after {
  content: url("../../images/icon-arrow-dark.svg");
  margin-left: 1rem;
}

.nav-link__items {
  background: white;
}

.hambuger:active .open {
  display: none;
}

.show-nav {
  display: block;
  width: 100vw;
  background: #fafafa;
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@media screen and (min-width: 600px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    display: flex;
    color: #fafafa;
    justify-content: space-between;
    margin-left: 0;
    align-items: center;
  }
  .nav-links,
  .nav-cta {
    display: flex;
  }
  .nav-link {
    margin: 0 2rem;
    display: flex;
  }
  .nav-link .link {
    color: #fafafa;
  }
  .nav-link .link::after {
    content: url("../../images/icon-arrow-light.svg");
    margin-left: 1rem;
  }
  .nav-link__items {
    display: none;
  }
  .nav-cta .nav-cta__link {
    border: none;
  }
  .nav-cta .nav-cta__link .link {
    font-weight: bold;
  }
  .nav-cta .login {
    border: none;
    background: none;
  }
  .nav-cta .signup {
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    margin-left: 2rem;
  }
  .nav-cta .signup .link {
    color: #ff4457;
  }
  .hambuger-menu {
    display: none;
  }
}

.hero {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.hero .hero-text {
  color: #fafafa;
}
.hero .hero-text__paragraph {
  margin: 2rem 0;
}
.hero-cta {
  display: flex;
}
.hero-btn {
  padding: 0.75rem 1rem;
  border-radius: 50rem;
  background: transparent;
  border: 1px solid #fafafa;
}
.hero-btn a {
  font-weight: bold;
}
.hero-btn:active {
  background: #fafafa;
}
.hero-btn a:active {
  color: #ff7b86;
}
.hero-btn a:hover {
  color: #ff7b86;
}
.hero .cta-btn {
  background: #fafafa;
  border: none;
}
.hero .cta-btn a {
  color: #ff4457;
}
.hero .cta-btn:active {
  background: #ff7b86;
}
.hero .cta-btn a:active {
  color: #fafafa;
}

section {
  margin: 5rem 0;
}
section .section-header {
  text-align: center;
  color: #294459;
  margin-bottom: 3rem;
}

.feature-article {
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}
.feature-article .article-text {
  order: 2;
}

.infrastructure-article {
  border-radius: 0 10rem 0 10rem;
  background: #3c3f60;
  align-items: center;
  position: relative;
}
